index.css
h3{
    color: white;
    text-align: center;
    
}

ul{ 
    text-align: center;
    list-style: none;

p{
    text-align: justify;
    font-family: Verdana;
    text-indent: 10%;
    font-size: 20px;
}

button{      botão pra clicar
    background-color: green;
    font-size: 15px;
    color: white;
}

a{
    background-color: blue;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

h1:hover{
    background-color: blue;
}

a:hover{
    background-color: darkcyan;
    font-size: 20px;
}


